DATABASE_URL="postgresql://neondb_owner:npg_jQCe7VJs3nBl@ep-mute-rice-ahaa6a6l-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
NEXT_PUBLIC_CULQI_PUBLIC_KEY=pk_live_rqfahOAUGcySQPLZ
CULQI_SECRET_KEY=sk_live_Y8xO8jreeQDU4ulb
CULQI_WEBHOOK_SECRET=
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_e0A3JPJco5YqKAbw_0G85xlBV16zGDzWr3Bb9CtAhH7UUUf"
RESEND_API_KEY="re_BHdfUnKA_6nDXwNZ63KzGhC22Fs8PCYtH"
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ✅ CLERK v6+ - Configuración actualizada
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bW9yZS1oZWRnZWhvZy0yMy5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_cqzFEo7RR2KaxnwFDuqPf5i5mXWwVzoHxipO9u7l85

UPSTASH_REDIS_REST_URL="https://modest-polliwog-34132.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AYVUAAIncDI1OTk0YWNmZDFkZDc0Y2Q0YWRjOGUwNTJhNDUwNGUxZXAyMzQxMzI"

